<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoteyWriteWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NoteyWriteWPF.Properties.Settings>
            <setting name="doLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoDeleteLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoDeleteLogsDays" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="themeName" serializeAs="String">
                <value>blue</value>
            </setting>
            <setting name="themeBG" serializeAs="String">
                <value />
            </setting>
        </NoteyWriteWPF.Properties.Settings>
    </userSettings>
</configuration>